# String Methods

In [53]:
# To convert lowercase to upper case
print("TO CONVERT LOWERCASE INTO UPPERCASE:")
name="janani" 
print("Lowercase Input:",name)
case=name.swapcase() 
print("Uppercase Output:",case)

TO CONVERT LOWERCASE INTO UPPERCASE:
Lowercase Input: janani
Uppercase Output: JANANI

In [58]:
# To change the the first character of word to upper case

name="janani"
print("input title:",name)
case=name.title()
print("output:",case)

input title: janani
output: Janani

In [64]:
#To trim the string with spaces removed

name="   janani    " 
print("input string:",name)
case=name.strip()
print("output:",case)

input string:    janani
output: janani

In [71]:
#To split the string using separator

name="janani loves travel" 
case=name.split()
print(case)

['janani', 'loves', 'books']

In [19]:
#To know which are printable in given string

name="janani@there" 
case=name.isprintable()
print(case)

True

In [20]:
# To know which are printable in given string 
'''\n \n character is used to represent a new line'''

name="janani\n@there" 
case=name.isprintable()
print(case)

False

In [24]:
# To find the index in given string
name="janani" 
case=name.index("i")
print(case)

5

In [25]:
# To find whether the string is numeric or not

name="janani" 
case=name.isnumeric()
print(case)

False

In [26]:
# To find whether the string is numeric or not 
name="12345" 
case=name.isnumeric()
print(case)

True

In [28]:
# To find whether the string is numeric or not

name="janani is janani,janani loves travel" 
case=name.count("janani")
print(case)

3

In [8]:
# To join the two strings using separator

name="janani","devaraj"
print("input strings:",name)
case="#".join(name)
print("output:",case)

input strings: ('janani', 'devaraj')
output: janani#devaraj

In [7]:
name="janani","devaraj"
print("input strings:",name)
case="".join(name)
print("output:",case)

input strings: ('janani', 'devaraj')
output: jananidevaraj